<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Some Website</title>
    </head>
    <body>
            {{> header}}
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Facilis nesciunt nostrum molestias perferendis
                 numquam eos aut reiciendis veniam. Eveniet, fugiat!</p>
       {{> footer}}

    </body>
</html>