<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Home Page</title>
    </head>
    <body>
           <h1>Will be right back</h1>
           <p>
               The site is currently is being updated.
           </p>
    </body>
</html>